@import "./reset.less";
@import "./auxiliary-logic.less";
@import "./header.less";
@import "./seo-arbitrage-expertise.less";
@import "./conference-recommendation.less";
@import "./slider.less";
@import "./moderators.less";
@import "./speakers.less";
@import "./modal.less";

.main {
  max-width: 1480px;
  margin: 0 auto;
}


@media (max-width: 599px) {

  .header-allContent {
    padding: 16px 20px;
  }

  .speakers__content {
    padding: 0;
  }

  .speakers__cardss {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .deleteMob {
    display: none;
  }

  .speakers__header-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .block-for-mob {
    display: flex;
    justify-content: center;
  }

  .block-for-tab {
    display: none;
  }

  .block-for-desk {
    display: none;
  }

  .line-section {
    max-width: 520px;
  }

  .conference-recommendations {
    position: relative;
    max-width: 599px;
    margin: 80px 15px 80px;
  }

  .conference-recommendations__block {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .block-for-logo {
    display: none;
  }

  .slider {
    width: 320px;
    height: 380px;
  }

  .slider-container {
    margin-top: 80px;
  }

  .seo-arbitrage-expertise-logo {
    display: none;
  }

  .seo-arbitrage-expertise__cards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
  }

  .desk-mob {
    display: none;
  }

  .h1 {
    font-size: 24px;
  }

  .seo-arbitrage-expertise__headlines {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .button-style {
    max-width: 570px;
  }

  .section-button {
    margin-top: 32px;
  }

  .seo-arbitrage-expertise__title-h1 {
    margin-top: 80px;
  }

  .moderators__h1 {
    text-align: left;
  }

  .moderators__container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }


  .seo-arbitrage-expertise__container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .seo-arbitrage-expertise__container-child-1,
  .seo-arbitrage-expertise__container-child-2 {
    order: 1;
  }

  .child-1 {
    order: 1;
  }

  .child-3 {
    order: 2;
  }

  .child-2 {
    order: 3;
  }

  .child-4 {
    order: 4;
  }

  .speakers__card {
    width: 166;
    height: 184px;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {

  .header-allContent {
    padding: 20px 30px;
  }

  .modal-line {
    max-width: 388px;
    height: 1px;
    flex-shrink: 0;
    background: #E5E5E5;
  }

  .modal-content {
    position: relative;
    max-width: 708px;
    max-height: 580px;
    margin: 5% auto;
    padding: 24px 32px 54px 32px;
  }


  .speakers__cards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .speakers__cardss {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }


  .block-for-tab {
    display: flex;
    justify-content: center;
  }

  .block-for-desk {
    display: none;
  }

  .block-for-mob {
    display: none;
  }


  .conference-recommendations {
    position: relative;
    max-width: 1023px;
    margin: 100px 30px 80px;

    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background: #F4F4F4;
      z-index: -1;
    }
  }

  .conference-recommendations__block {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .line-section {
    max-width: 720px;
  }

  .block-for-logo {
    display: none;
  }

  .slider-container {
    margin-top: 80px;
  }

  .seo-arbitrage-expertise__headlines {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .seo-arbitrage-expertise__cards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px;
  }

  .seo-arbitrage-expertise-logo {
    display: none;
  }

  .seo-arbitrage-expertise__container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desk-mob {
    display: none;
  }

}




@media (min-width: 1023px) {
  .block-for-desk {
    display: flex;
    justify-content: center;
  }

  .block-for-mob {
    display: none;
  }

  .block-for-tab {
    display: none;
  }

  .line-section {
    width: 620px;
  }

}