.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.modal-content {
  position: relative;
  max-width: 840px;
  max-height: 580px;
  margin: 15% auto;
  background-color: #fff;
  padding: 24px 32px 78px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.modal-content .close {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.modal-content .close:hover {
  color: red;
}
.modal-content .modal-line {
  width: 520px;
  height: 1px;
  flex-shrink: 0;
  background: #E5E5E5;
}
.modal-content .modal-img {
  width: 224px;
  height: 266px;
}
.modal-content .modal-content-block-1 {
  display: flex;
  gap: 32px;
}
.modal-content .modal-content-block-2 {
  display: flex;
  flex-direction: column;
}
.modal-content .buttons-container {
  margin: 20px 0 114px;
}
.modal-content .modal-h1 {
  color: #0D0D17;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.modal-content .modal-text {
  margin: 12px 0 20px;
  color: #666;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.modal-content .modal-text-2 {
  color: #0D0D17;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.modal-content .small-h1 {
  margin: 32px 0;
  font-size: 16px;
}
